*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-image: url(https://www.bing.com/images/search?view=detailV2&ccid=akDgL2uk&id=3A30F8CC0D29F82D1C52AAE76CE64FE5B2F51C4B&thid=OIP.akDgL2ukYtnkTFgx6tjWYQHaE8&mediaurl=https%3a%2f%2fth.bing.com%2fth%2fid%2fR.6a40e02f6ba462d9e44c5831ead8d661%3frik%3dSxz1suVP5mznqg%26riu%3dhttp%253a%252f%252fupload.wikimedia.org%252fwikipedia%252fcommons%252f8%252f89%252fCumulus_cloud.jpg%26ehk%3drXVouI6iOtfNscCMBHKTn7xUdUbSyuyKJDjJqblfpMk%253d%26risl%3d%26pid%3dImgRaw%26r%3d0&exph=1067&expw=1600&q=clouds&simid=608049799338805158&FORM=IRPRST&ck=29A1DF99CC97343EB5C816F36184D5F8&selectedIndex=6&itb=0);
}
body{
    background-image: url(https://th.bing.com/th/id/R.6a40e02f6ba462d9e44c5831ead8d661?rik=Sxz1suVP5mznqg&riu=http%3a%2f%2fupload.wikimedia.org%2fwikipedia%2fcommons%2f8%2f89%2fCumulus_cloud.jpg&ehk=rXVouI6iOtfNscCMBHKTn7xUdUbSyuyKJDjJqblfpMk%3d&risl=&pid=ImgRaw&r=0);
    background: olive;
}
.card{
    width: 90%;
    max-width: 800px;
    height: 90%;
    max-height: 400px;
    background: linear-gradient(140deg, #1d811d, #141eaf);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
button{
    background-color: #940202;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px 10px;
}

.weather-info{
    margin-top: 20px;
}