*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background-image: url(https://th.bing.com/th/id/R.6a40e02f6ba462d9e44c5831ead8d661?rik=Sxz1suVP5mznqg&riu=http%3a%2f%2fupload.wikimedia.org%2fwikipedia%2fcommons%2f8%2f89%2fCumulus_cloud.jpg&ehk=rXVouI6iOtfNscCMBHKTn7xUdUbSyuyKJDjJqblfpMk%3d&risl=&pid=ImgRaw&r=0);
    background-size: cover;
}
.card{
    width: 90%;
    max-width: 800px;
    height: 90%;
    max-height: 400px;
    background: linear-gradient(140deg, #1d811d, #141eaf);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
button{
    background-color: #940202;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px 10px;
}

.weather-info{
    margin-top: 20px;
}